#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


/* Watch */
.clock-wrapper {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
}

.clock {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    border: 1.5px solid rgb(117, 117, 117);
    padding: 20px;
    width: 100px;
    margin-right: 20px;
    border-radius: 20%;
}

.time {
    margin-bottom: 20px;
    color:rgb(76, 0, 255);
    font-size: 30px;
    font-weight: 600;
}


/* Form */
.container {
    display: flex;
}

.form {
    display: flex;
    gap: 20px;
}

.capital_form {
    display: flex;
    flex-direction: column;
}

.timezone_form {
    display: flex;
    flex-direction: column;
}

.button_add {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.input_form {
    display: flex;
    width: 100%;
    height: 50px; 
    flex-direction: column;
    border: 1.5px solid black;
}


/* App */
clock_delete_btn {
    font-size: 10px;
    color: gray;
}